:root {
  --clr-primary: rgb(255, 249, 248);
  --clr-red: hsl(0, 100%, 74%);
  --clr-green: hsl(154, 59%, 51%);
  --clr-grayish-blue: hsl(246, 25%, 77%);
  --clr-dark-blue: hsl(249, 10%, 26%);
  --bg-blue: hsl(248, 32%, 49%);
  --bg-primary: hsl(0, 100%, 74%);
  --border-radius: 8px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--clr-primary);
}

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 165px;
  background: url(./images/bg-intro-desktop.png) no-repeat var(--bg-primary);
  background-size: cover;
  gap: 40px;
}

.left-part {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 540px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.left-part .left-part-wrapper h1 {
  font-weight: 700;
  font-size: 46px;
  max-width: 16ch;
  line-height: 1.2;
  margin-bottom: 40px;
}

.left-part .left-part-wrapper p {
  max-width: 50ch;
}

.right-part {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 540px;
}

.right-part .error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  border-radius: var(--border-radius);
  position: relative;
  background-color: var(--bg-blue);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  margin-bottom: 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.right-part .error::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  background: rgba(218, 100, 100, 0.7);
  position: absolute;
  bottom: -10px;
  left: 0;
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
}

.right-part .error span {
  font-weight: 600;
}

.right-part .form {
  width: 100%;
  height: 480px;
  padding: 40px;
  border-radius: var(--border-radius);
  background: white;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.right-part .form > input {
  height: 50px;
  border: 1px solid #b9b5b5;
  margin: 10px 0;
  border-radius: var(--border-radius);
  padding-left: 35px;
  font-weight: 500;
  color: var(--clr-dark-blue);
}

.right-part .form > input:focus {
  outline: none;
  border: 1px solid var(--clr-dark-blue);
}

.right-part .form > input::-webkit-input-placeholder {
  opacity: 0.7;
}

.right-part .form > input:-ms-input-placeholder {
  opacity: 0.7;
}

.right-part .form > input::-ms-input-placeholder {
  opacity: 0.7;
}

.right-part .form > input::placeholder {
  opacity: 0.7;
}

.right-part .form > button {
  width: 100%;
  height: 50px;
  background: var(--clr-green);
  margin: 5px 0 20px 0;
  border-radius: var(--border-radius);
  position: relative;
  padding-top: 5px;
}

.right-part .form > button:hover {
  cursor: pointer;
}

.right-part .form > button:active {
  background: #30bb7f;
}

.right-part .form > button::before {
  content: "";
  width: 100%;
  height: 20px;
  position: absolute;
  left: 0;
  bottom: -5px;
  background: #2ba671;
  border-radius: var(--border-radius);
  z-index: -1;
}

.right-part .form > p {
  color: var(--clr-grayish-blue);
  font-size: 12px;
  margin: 0 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.right-part .form > p > span {
  color: var(--clr-red);
  cursor: pointer;
}

.right-part .form::before {
  content: "";
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: -10px;
  left: 0;
  background: rgba(218, 100, 100, 0.7);
  border-radius: var(--border-radius);
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
}
/*# sourceMappingURL=style.css.map */